<form [formGroup]="form" (ngSubmit)="createNewField()">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">

    <legend class="fieldset-legend">Novo Campo</legend>

    <label class="label" for="fieldName">Nome do campo</label>
    <input id="fieldName" type="text" class="input" placeholder="Nome do campo (sem espaços)" formControlName="fieldName" />
    <app-error-messages [control]="form.controls.fieldName" />

    <label class="label" for="initialValue">Valor inicial</label>
    <input id="initialValue" type="text" class="input" placeholder="Valor inicial" formControlName="initialValue" />
    <app-error-messages [control]="form.controls.initialValue" />

    <label class="label mt-2">
      <input type="checkbox" checked="checked" class="checkbox" formControlName="isRequired" />
      É Obrigatório?
    </label>
    <app-error-messages [control]="form.controls.isRequired" />

    <button class="btn btn-neutral mt-4" [disabled]="form.invalid">Criar campo</button>

  </fieldset>
</form>

<form [formGroup]="previewForm">
  <ul class="list bg-base-100 rounded-box shadow-md">
    @for (item of previewForm.controls | keyvalue; track item.key) {
    <li class="list-row items-center">
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend"> {{ item.key }} </legend>
        <input type="text" class="input" [formControlName]="item.key" />
        <app-error-messages [control]="previewForm.get(item.key)!" />
      </fieldset>
      <button class="btn btn-error" (click)="removeField(item.key)">Remover</button>
    </li>
    }
  </ul>
</form>
