<form [formGroup]="form()" (ngSubmit)="onSubmit()">
  @for (item of fields(); track item.name) {
    @switch (item.type) {
      @case (fieldType.Text) {
        <app-input-field [label]="item.label" [placeholder]="item.placeholder" type="text" [formControlName]="item.name" />

      } @case (fieldType.Email) {
        <app-input-field [label]="item.label" [placeholder]="item.placeholder" type="email" [formControlName]="item.name" />

      } @case (fieldType.Password) {
        <app-input-field [label]="item.label" [placeholder]="item.placeholder" type="password" [formControlName]="item.name" />

      }

      @case (fieldType.Select) {
        <app-select-field
          [label]="item.label"
          [placeholder]="item.placeholder"
          [options]="item.options"
          [formControlName] = "item.name"
        />
      }
    }
  }

  <button class="btn btn-primary" [disabled]="form().invalid"> {{ submitLabel() }} </button>
  <app-error-messages [control]="form()" />

  <pre> {{ form().value | json }} </pre>
</form>
